<div class="form_s">
    <form>
        <fieldset>
            <legend><span class="number">1</span>User Info</legend>
            <input type="text" name="field1" placeholder="Your Name *">
            <input type="email" name="field2" placeholder="Your Email *">
            <input type="number" name="field5" placeholder="Your Contact *">
            <input type="date" id="birthday" name="birthday">
        </fieldset>
        <fieldset>
            <legend><span class="number">2</span> Additional Info</legend>
            <textarea name="field3" placeholder="Bio"></textarea>
        </fieldset>
        <fieldset>
            <legend><span class="number">3</span> Upload Photo</legend>
            <input type="file" id="myFile" name="field4">Upload Profile Photo
        </fieldset>
        <br><br>
        <button mat-flat-button color="primary">Submit</button>&nbsp;&nbsp;
        <button mat-flat-button color="warn">Edit</button>
    </form>
</div>