<div class="nav-bar">
    <div class="nav-bar-content">
        <div class="nav-bar-left">
            <div style="font-size: 28px;font-family: 'Monoton', cursive;" class="nav-bar-items">ConnectMe</div>
        </div>
        <div class="nav-bar-right">
            <button *ngIf="!loggedIn()" class="nav-bar-items" mat-raised-button color="primary"
                (click)="onLoginClick()"><mat-icon>login</mat-icon>Log In</button>
            <!-- <div *ngIf="loggedIn() " class="nav-bar-items"><i>Hello,</i>
            </div> -->
            <button *ngIf="loggedIn() && userHasProfile" mat-raised-button [matMenuTriggerFor]="userMenu" mat-raised-button class="nav-bar-items" color="primary"
                ><mat-icon>account_circle</mat-icon>{{getUsername()}} <mat-icon>expand_more</mat-icon></button>
        </div>
    </div>&nbsp;
</div>
<router-outlet></router-outlet>
<mat-menu #userMenu="matMenu">
    <button mat-menu-item (click)="onLogoutClick()">Logout</button>
</mat-menu>
<app-profile [show]="loggedIn() && !userHasProfile"></app-profile>

