<div id="home_page">
    <div id="home_page_landing">
        <div id="landing-left">
            <div id="landing-left-content">
                <h1>Social <span style="color: #270082;">Media</span> <span style="color: red; font-size: 40px;">  App Platform</span></h1><br>
                <p>Share your favorite stories! <span> #ConnectMe</span></p><br>
                <button mat-flat-button color="warn" (click)="onLoginClick()">Get Started</button>
            </div>
        </div>
    </div>
</div>