.bg{
    background-image: url("src\assets\chat_background.jpg");
    height: 100%;
    width: 100% ;
}

.action-item{
    margin-left: .5em;
    cursor: pointer;
    color: rgb(224, 131, 131);;
}

.getDown{
    margin-top: 10px;
}
/* .red{
    color:rgb(224, 131, 131);
}
.black{
    color:red
} */
#no_of_count {
    font-family: cursive;
    font-size: small;
    
}
.colorsbg{
    color: rgb(178,34,34);
    
}